header{
  /* width: 100%; Responsividade de largura */
  /* height: 138px; */
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
}

.logo{
  display: inline-block;
  width: 60px;
  height: 62px;
}

.menu{
  width: 32px;
  height: 20px;
}

.navigation-menu{
  margin-top: 22px;
}

/*Seletor de irmandade ~ => diz pro nagevador pegar o irmão que passar pra ele*/
input[type="checkbox"]:checked ~ nav { /* quando eu seleciono ele vai pegaro input irmão nav e vai deixar displai block */
  display: block;
}

nav{
  display: none;
}