@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf); /*Caminho da font*/
  font-style: normal; /*Estilo de fornte*/
  font-display: swap; /*Font que será usada se caso o site não carregar a font padrão*/
}

/*
Background
Botoes
Cores de texto
*/

/* Pseudo classe customizada (pois tem nome) */
:root{
  /*Cor primaria de background*/
  --background-primary-color: #FFFFFF;
  --background-secondary-color: #F5F5F5; 
  --background-tertiary-color: #000000; 

  --primary-color: #8F0101;
  --secondary-color: #B81515;

  --text-primary-color: #222222;
  --text-secondary-color: #FFFFFF;

/*
Header Weight (500) 
Footer Weight (400)
Card 
  Weight (700)
  Weight (400)

*/

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-wieght: 500;
}

/*
Header Weight (500) 
Footer Weight (400)
Card 
  Weight (700)
  Weight (400)

*/

/* CSS Reset */

body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
